@using WEB.APP.Localization
@inject IMessageLocalizer localizer
@inject IMessageResources Resources
<style>
    .password-wrapper {
        position: relative;
        display: flex;
        align-items: center;
    }

        .password-wrapper input {
            width: 100%;
            padding-right: 70px;
        }

    .toggle-password {
        position: absolute;
        right: 10px;
        color: #888;
        cursor: pointer;
    }

    .k-invalid-msg {
        
        font-size: 0.8rem;
        color: red;
        white-space: nowrap;
        pointer-events: none;
    }

    input.k-invalid {
        border-color: #dc3545;
    }

    input.k-invalid{
        background-color: #ffffff !important;
    }
    .password-wrapper input::-ms-reveal,
    .password-wrapper input::-ms-clear,
    .password-wrapper input::-webkit-credentials-auto-fill-button,
    .password-wrapper input::-webkit-reveal-password-button
     {
        display: none !important;
        pointer-events: none;
    }
</style>
<div id="window-dialog-change-password" style="align-items: center;">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <!-- Username -->
                <div class="col-md-12 mb-2">
                    <label for="username" class="form-label"> @Resources["ChangePassword", "Username"]</label>
                    <input id="change-password-username" name="change-password-username" class="k-textbox form-control" readonly
                           value="@User.FindFirst("UserName")?.Value" />
                </div>

                <!-- Current Password -->
                <div class="col-md-12 mb-2">
                    <label for="currentPassword" class="form-label">@Resources["ChangePassword", "CurrentPassword"]  <span class="text-danger">*</span></label>
                    <div class="password-wrapper">
                        <input id="change-password-currentPassword" name="change-password-currentPassword" type="password"
                               class="k-textbox form-control" required
                               data-required-msg="@localizer["FieldRequired", @Resources["ChangePassword", "CurrentPassword"]]" />
                        <i class="fa-solid fa-eye toggle-password"
                           onclick="togglePassword('change-password-currentPassword', this)"></i>
                        
                    </div>
                    <span class="k-invalid-msg" data-for="change-password-currentPassword"></span>
                </div>

                <!-- New Password -->
                <div class="col-md-12 mb-2">
                    <label for="newPassword" class="form-label">@Resources["ChangePassword", "NewPassword"]  <span class="text-danger">*</span></label>
                    <div class="password-wrapper">
                        <input id="change-password-newPassword" name="change-password-newPassword" type="password"
                               class="k-textbox form-control" required minlength="6"
                               data-required-msg="@localizer["FieldRequired", @Resources["ChangePassword", "NewPassword"]]" />
                        <i class="fa-solid fa-eye toggle-password"
                           onclick="togglePassword('change-password-newPassword', this)"></i>
                        
                    </div>
                    <span class="k-invalid-msg" data-for="change-password-newPassword"></span>
                </div>

                <!-- Confirm Password -->
                <div class="col-md-12 mb-2">
                    <label for="confirmPassword" class="form-label">@Resources["ChangePassword", "ConfirmPassword"]  <span class="text-danger">*</span></label>
                    <div class="password-wrapper">
                        <input id="change-password-confirmPassword" name="change-password-confirmPassword" type="password"
                               class="k-textbox form-control" required 
                               
                               data-required-msg="@localizer["FieldRequired", @Resources["ChangePassword", "ConfirmPassword"]]" />
                        <i class="fa-solid fa-eye toggle-password"
                           onclick="togglePassword('change-password-confirmPassword', this)"></i>
                        
                    </div>
                    <span class="k-invalid-msg" data-for="change-password-confirmPassword"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var messagePasswordDialog = new MessageDialog();
     function togglePassword(inputId, icon) {
         const input = document.getElementById(inputId);
         const isPassword = input.type === "password";
         input.type = isPassword ? "text" : "password";

         // toggle class fa-eye ↔ fa-eye-slash
         icon.classList.toggle("fa-eye");
         icon.classList.toggle("fa-eye-slash");
     }

       let ChangePassword_validataDialog =  $("#window-dialog-change-password").kendoValidator({
          errorTemplate: "<label class='k-invalid-msg'>#=message#</label>",
        rules: {
            confirmPassword: function (input) {
               if (input.is("[name='change-password-confirmPassword']")) {
                   return input.val() === $("#change-password-newPassword").val();
                }
                return true;
            },
            securePassword: function (input) {
               if (input.is("[name='change-password-newPassword']")) {
                    const value = input.val();

                    // ความยาว >= 6
                    if (value.length < 6) return false;

                    // ต้องมี a-z, A-Z, 0-9, special character
                    const hasUpper = /[A-Z]/.test(value);
                    const hasLower = /[a-z]/.test(value);
                    const hasNumber = /[0-9]/.test(value);
                    const hasSpecial = /[^A-Za-z0-9]/.test(value);

                    return hasUpper && hasLower && hasNumber && hasSpecial;
                }
                return true;
            }
        },
        messages: {
            required: "This field is required",
            confirmPassword: "Passwords do not match",
           securePassword: "Use at least 6 characters with uppercase, lowercase, number & symbol"
        }
        }).data('kendoValidator');



     async function ChangePassword_Show(){
         await ui.Input.Clear("window-dialog-change-password", () => {
             document.getElementById("change-password-username").value = "@User.FindFirst("UserName")?.Value";

             const passwordFields = [
                { id: "change-password-currentPassword" },
                { id: "change-password-newPassword" },
                { id: "change-password-confirmPassword" }
            ];
             passwordFields.forEach(f => {
                const input = document.getElementById(f.id);
                const icon = input?.parentElement?.querySelector(".toggle-password");

                if (input && icon) {
                    input.type = "password"; // force hide
                    icon.classList.remove("fa-eye-slash");
                    icon.classList.add("fa-eye");
                }
            });

         });
       $("#window-dialog-change-password").data("kendoWindow").open();
      }

     function ChangePassword_onCancelDialog(e) {
         var confirmationDialog = new ConfirmationDialog();
         confirmationDialog.open({
             yes: function () {
                  ChangePassword_validataDialog.reset()
                 $("#window-dialog-change-password").data("kendoWindow").close();

             }
         }, Message("Confirmation", "ConfirmExitDialog"), "Confirmation");


     }


     function ChangePassword_onSaveDialog(e) {

          if (!ChangePassword_validataDialog.validate()) {

             return;
         }

         const TextConfirmation = Message("Confirm", "ConfirmChangePassword")
         var confirmationDialogShowDetails = new ConfirmationDialog("dialogshowdetails");
         confirmationDialogShowDetails.open({
             yes:async function () {
                const oldPassword = document.getElementById("change-password-currentPassword").value;
                const newPassword = document.getElementById("change-password-newPassword").value;
               var result = await APIPost(_url_callapi +"/api/auth/ums010/change/password", {
                   UserName:"@User.FindFirst("UserName")?.Value",
                   OldPassword: oldPassword,
                   NewPassword: newPassword,
                });
             //  result = result.data
              if (result.data.statusCode == "200") {

                   showSuccess(Message("Information", "SaveSuccess"));          
                  $("#window-dialog-change-password").data("kendoWindow").close();

               } else {

                 messagePasswordDialog.error(Message("Warning",result.data.messageCode),
                 ()=>{
                    document.getElementById("change-password-currentPassword").focus();

                 });

               }
         }
         }, TextConfirmation, "Confirmation ");

     }

     var ChangePassword_kendoWindow = $("#window-dialog-change-password").kendoWindow({
         width: "40%",
         minWidth: 500,
        title: "Change Password",
         visible: false,
         modal: true,
         draggable: false,
         resizable: false,
         open: function () {
             this.center();


         }
     });
     //kendoWindow.title(`<i class="fas fa-database" style="padding-right:10px;"></i> ng Master Detail`);
     // Wait for the window to initialize and then modify the title
     setTimeout(function () {
         var titleElement = $("#window-dialog-change-password_wnd_title"); // Select the title element
         titleElement.prepend(' <i class="fas fa-key" style="padding: 5px;"></i>');
     }, 100);


     $("#window-dialog-change-password").data("kendoWindow").wrapper.append(`
                 <div class="dropdown-divider m-0"></div>
                 <div class="k-dialog-actions k-actions k-actions-horizontal k-actions-center ">
                     <button type="button" id="windowsSaveButton" class="mes-button-save k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" onclick="ChangePassword_onSaveDialog()">
                             <span class="k-icon k-i-save k-button-icon"></span><span class="k-button-text" id="text-export">${Resources("COMMON", "ChangePassword")}</span>
                     </button>
                    <button type="button" id="windowsCancalButton" class="mes-button-cancel  k-button k-button-md k-rounded-md k-button-solid k-button-solid-base" onclick="ChangePassword_onCancelDialog()">
                          <span class="k-icon k-i-arrow-left k-button-icon"></span><span class="k-button-text">${Resources("COMMON", "CANCEL")}</span>
                     </button>

                 </div>
             `);

     let ChangePassword_window_dialog = $("#window-dialog-change-password").data("kendoWindow");
     $("#window-dialog-change-password").parent().find(".k-window-action").css("visibility", "hidden");

</script>